.battle-area{
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
   
    .navigation{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        
    }
    
    .AbillitiesArea{
        position: absolute;
        
    }

    
}